.flexContainer {
    display: flex;
    justify-content: center;
}
.vueList li button {
    margin: 4px;
    display: block;
}
.removeButton Button{
    background-color: darkgreen;
}
#addButton{
    background-color: darkgreen;
}
 li {
     padding: 0.1vw;
 }
p {
    font-size: medium;
    padding: 4px;
}
h1 {
    font-size: xx-large;
    font-weight: bold;
}
form {
    padding: 0.3vw;
}

@media screen and (min-width: 1025px){
    
}